.navfullpagebgfreshers {
    background-color: darkorchid;
}

section {
    background: none;
    padding-top: 0px;
}

header {
    min-height: fit-content;
}

header > h1 {
    font-size: 9.5vw;
}


.sectioncontent {
    display: flex;
}

.sectionboxcontainer {
    display: flex;
    gap: 1vw;
    max-width: 60vw;
    margin-right: 0vw;
    margin-left: 3vw;
    flex-wrap: wrap;
}

.sectionbox {
    min-width: 19vw;
    min-height: 19vw;
    background-color: beige;
    border-radius: 15px;
    margin-bottom: 0.1vw;
}

.youtubevideo {
    width: 32vw;
    height: 18vw;
    background-color: blue;
}

.dropdown {
    flex-wrap: wrap;
    min-height: fit-content;
    min-width: 29vw;
    font-size: 1.5vw;
}

.dropdowns {
    margin-left: 3vw;
    margin-right: 3vw;
    max-width: 100vw;
}

.dd1c {
    border-top: 1px solid white;
}

.dd1c, .dd2c, .dd3c {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 32vw;
    border-bottom: 1px solid white;
}

@media (max-width: 600px) {
    header > h1 {
        margin-bottom: 10vw;
        font-size: 9.5vw;
    }


    section {
        min-height: fit-content;
    }
    
    .navfullpagebgfreshers {
        min-height: fit-content;
    }

    .sectioncontent {
        min-height: fit-content;
        width: 90vw;
        display: grid;
        grid-template-rows: 1fr 55vw 55vw;
    }

    .sectionboxcontainer {
        margin-left: 0vw;
        justify-self: center;
        min-width: 90vw;
        gap: 3.5vw;
        margin-bottom: 3vw;
    }

    .sectionbox {
        min-width: 40vw;
        min-height: 40vw;
    }

    .youtubevideo {
        width: 93%;
        height: 45vw;
        justify-self: center;
        margin-bottom: 3vw;
    }
    
    .vidanddropdown {
        grid-row: 2/4;
        min-height: fit-content;
    }

    .dropdown {
        font-size: 4vw;
        width: 75vw;
        min-height: fit-content;
    }

    .dd1c, .dd2c {
        min-width: 93%;
        justify-self: center;
    }

    .ddcdroptext {
        font-size: 3vw;
        font-weight: 500;
    }
}