body {
    height: 100vh;
    width: 100vw;
}

.navheaderbgjoin {
    background-color: blueviolet;
    min-height: 24vw;
    display: flex;
    flex-direction: column;
}

.h1contain > h1 {
    font-size: 8vw;
    margin-bottom: 3.5vw;
}

header {
    align-items: end;
    min-height: 10vw;
}

section {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-top: 4vw;
    min-height: 15vw;
}

.sectiontext > h2 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 1.2vw;
    flex-wrap: wrap;
}

.sectiontext > h3 {
    font-size: 30px;
    text-wrap: wrap;
}

@keyframes underlinerev {
    from {
        text-underline-offset: 7px;
    }

    to {
        text-underline-offset: 4px;
    }
}

section > button {
    padding: 3vw 5vw;
    background-color: white;
    border-radius: 25px;
    max-width: fit-content;
    text-decoration-thickness: 1.4px;
    text-decoration-line: underline;
    text-underline-offset: 7px;
    font-size: 30px;
    margin-top: 1.5vw;
}

section > button > strong {
    font-weight: bold;
}

section > button:hover {
    cursor: pointer;
    animation: underlinerev 0.2s;
    animation-fill-mode: forwards;
}

section:last-of-type {
    padding: 0px;
    background-color: darkgoldenrod;
    min-height: 20vw;
    display: flex;
    justify-content: center;
}



.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel img {
    width: 25vw;
    flex-shrink: 0;
    background: none;
    border: 1px solid black;
    min-height: 20vw;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .left-btn {
    left: 10px;
  }
  
  .right-btn {
    right: 10px;
  }
  


@media (max-width: 600px) {
    .navheaderbgjoin {
        min-height: 37vh;
    }

    .h1contain > h1 {
        font-size: 20vw;
    }

    section:first-of-type {
        min-height: fit-content;
        align-items: start;
    }

    header {
        min-height: 15vh;
        margin-bottom: 10vw;
    }

    .sectiontext {
        margin-left: 3vw;
    }

    .sectiontext > h2 {
        max-width: 85vw;
    }

    .sectiontext > h3 {
        font-weight: 500;
        font-size: 6vw;
        max-width: 85vw;
        margin-top: 3vw;
        margin-bottom: 1.5vw;
    }

    section > button {
        max-width: 85vw;
        font-size: 25px;
    }

    section:last-of-type {
        min-height: 30vh;
    }

  
  .carousel img {
    min-width: 100%;
    min-height: 100vw;
    flex-shrink: 0;
    background: none;
    border: 1px solid black;
  }
  
}