/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    display: flex;
    flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    border: none;
    appearance: none;
}

.headernavbg {
    max-width: 100vw;
    min-height: 40vw;
    background-color: palegoldenrod;
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    background: transparent;
    min-height: 100px;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav > picture > img {
    background-color: blue;
    min-width: 14vw;
    min-height: 7vw;
    max-width: 14vw;
    max-height: 7vw;
}

.navcontent {
    display: flex;
    text-align: end;
}

.navbuttons > button {
    background: transparent;
    color: white;
    font-size: 18px;
    margin-left: 25px;
}

.navbuttons > button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.navsm {
    display: flex;
    justify-content: space-evenly;
    max-width: 150px;
    margin-left: 50px;
    gap: 30px;
}

.smicon {
    max-height: 30px;
    max-width: 30px;
    background-color: orange;
}

header {
    display: flex;
    margin-left: 3vw;
    flex: 1 1 auto;
    justify-content: start;
    align-items: end;
    z-index: 1;
    max-height: 30vw;
}

.welcometo {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.welcometo > h1 {
    font-size: 8vw;
    white-space: nowrap;
}

.welcometo > h3 {
    font-size: 2vw;
}

.headertextcontainer > h3:last-of-type {
    font-size: 2vw;
}

.headertextcontainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.headertextcontainer > h3 {
    margin-top: 15px;
}

section {
    background-color: red;
    max-height: 1100px;
    z-index: 1;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vw;
}

section > h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
    margin-left: 3vw;
}

.sectionboxcontainer {
    display: flex;
    justify-content: start;
    gap: 1vw;
    width: fit-content;
    margin-right: 3vw;
    margin-left: 3vw;
}

.sectionbox {
    min-width: 22.5vw;
    min-height: 20vw;
    background-color: beige;
    border-radius: 15px;
    margin-bottom: 3vw;
}

.dropdowns {
    max-height: 500px;
    margin-left: 3vw;
    margin-right: 3vw;
    max-width: 100vw;
}

.dropdown {
    padding: 1.5vw 0px;
    background: transparent;
    text-align: start;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    width: 93vw;
}

.dropdown1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.dropdown2, .dropdown3 {
    border-bottom: 1px solid white;
}

.dropdownarrow {
    max-width: 30px;
    max-height: 30px;
    position: relative;
    bottom: 70px;
}

footer {
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2.4vw 0px;
}

.footerlefthalf {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 11vw;
    font-size: 0.9vw;
    font-weight: bold;
}

.footersm {
    display: flex;
    width: 5vw;
    justify-content: space-evenly;
}

.footerrighthalf {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 16vw;
    font-size: 0.9vw;
    font-weight: bold;
}

.fsmicon {
    max-width: 20px;
    max-height: 20px;
    background-color: orange;
}

@media screen and (max-width: 1020px) {
    body {
        background-color: purple;
    }


}