/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    display: flex;
    flex-direction: column;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    border: none;
    appearance: none;
}

h1, h2, h3, button, a, p, ul, i, ol {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

h1, h3, h2, p, a, ul {
    font-weight: bold;
}

.headernavbg {
    max-width: 100vw;
    min-height: 35vw;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ddcdroptext {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1vw;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

nav {
    background: transparent;
    min-height: 100px;
    padding: 3vw;
    padding-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav > picture > img {
    background-color: blue;
    min-width: 225px;
    min-height: 100px;
    margin-top: 25px;
}

.navcontent {
    display: flex;
    text-align: end;
}

.navbuttons > a > button, .navbuttons > button {
    background: transparent;
    color: white;
    font-size: 18px;
    margin-left: 25px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
}

@keyframes underline {
    from {
        text-underline-offset: 0px;
        text-decoration-color: rgba(255, 255, 255, 0);
    }

    to {
        text-underline-offset: 4px;
        text-decoration-color: rgba(255, 255, 255, 1);
    }
}

@keyframes underlinerev {
    from {
        text-underline-offset: 4px;
        text-decoration-color: rgba(255, 255, 255, 1);
    }

    to {
        text-underline-offset: 0px;
        text-decoration-color: rgba(255, 255, 255, 0);
    }
}

.navbuttons > button:hover, .navbuttons > a > button:hover {
    cursor: pointer;
    text-decoration: underline;
    animation-fill-mode: forwards;
}

.navsm {
    display: flex;
    justify-content: space-evenly;
    max-width: 150px;
    margin-left: 50px;
    gap: 30px;
}

.navsm > a, .footersm > a {
    transition: transform 0.2s ease;
}

.navsm > a:hover, .footersm > a:hover {
    transform: scale(1.1);
}

.smicon {
    max-height: 30px;
    max-width: 30px;    
}

header {
    display: flex;
    margin-left: 3vw;
    flex: 1 1 auto;
    justify-content: start;
    align-items: end;
    min-height: 30vw;
}

.welcometo {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.welcometo > h1 {
    font-size: 9vw;
    white-space: nowrap;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: bold;
    color: white;
}

.welcometo > h3 {
    font-size: 2vw;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: bold;
    color: white;
}

.headertextcontainer > h3:last-of-type {
    font-size: 2vw;
}

.headertextcontainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.headertextcontainer > h3 {
    margin-top: 15px;
}

section {
    background-color: red;
    min-height: 50vw;
    z-index: 1;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vw;
}

section > h1 {
    font-size: 4vw;
    margin-bottom: 2vw;
    margin-left: 3vw;
    flex: 1 1 auto;
}

.sectionboxcontainer {
    display: flex;
    justify-content: start;
    gap: 1vw;
    width: fit-content;
    margin-right: 3vw;
    margin-left: 3vw;
}

.sectionbox {
    min-width: 22.5vw;
    min-height: 20vw;
    background-color: beige;
    border-radius: 15px;
    margin-bottom: 3vw;
}

.dropdowns {
    max-height: fit-content;
    margin-left: 3vw;
    margin-right: 3vw;
    max-width: 100vw;
}

.dd1c {
    border-top: 1px solid white;
}

.dd1c, .dd2c, .dd3c, .dd4c {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 93vw;
    border-bottom: 1px solid white;
}

.dd1c:hover, .dd2c:hover, .dd3c:hover, .dd4c:hover {
    cursor: pointer;
}

.dropdown {
    padding: 1.5vw 0px;
    background: transparent;
    text-align: start;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    min-width: 89vw;
}   

.dropdownarrow {
    max-width: 30px;
    max-height: 30px;
    transition: transform 0.2s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2.4vw 0px;
    background-color: #B564F7;
    flex: 1 1 auto;
}

.footerlefthalf {
    margin-left: 3vw;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 11vw;
    font-size: 0.9vw;
    font-weight: bold;
}

.footerlefthalf > h2 > a {
    color: white;
    font-size: 1vw;
    text-underline-offset: 5px;
}

a:hover {
    filter: brightness(0.9);
}

.footerrighthalf > h2 {
    color: white;
}

.footersm {
    display: flex;
    width: 5vw;
    justify-content: space-evenly;
}

.footerrighthalf {
    margin-right: 3vw;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 16vw;
    font-size: 0.9vw;
    font-weight: bold;
}

.fsmicon {
    max-width: 20px;
    max-height: 20px;   
}

.ddar {
    transform: rotate(-180deg);
}

@keyframes dropdownanimate {
    from {
        max-height: 0px;
    }

    to {
        max-height: 50vw;
    }
}

@keyframes dropdownanimaterev {
    from {
        min-height: 100px;
    }

    to {
        min-height: 0px;
    }
}

.dropdowncontent {
    width: 100%;
}

.navdropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color:#B564F7;
    padding: 10px;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    right: 0;
}

.dropdown-menu a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    font-size: 1vw;
    transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.navdropdown:hover .dropdown-menu {
    display: block;
}

.navbutton {
    background: transparent;
    color: white;
    font-size: 18px;
    margin-left: 25px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
}

.navbutton:hover {
    cursor: pointer;
    text-decoration: underline;
    animation-fill-mode: forwards;
}

.navdropdown:focus-within .dropdown-menu {
    display: block;
}

.navdropdown:hover .dropdown-menu,
.navdropdown:focus-within .dropdown-menu {
    display: block;
}

.navdropdown:focus-within .dropdown-menu {
    display: block;
}

.nav-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
}

.nav-links a {
    margin: 10px 0;
    color: white;
    text-decoration: none;
}

.nav-dropdown {
    position: relative;
}

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 1vw;
    cursor: pointer;
}

.close-menu {
    background: none;
    border: none;
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (max-width: 930px) {
    .navcontent {
        display: none;
    }

    .hamburger-menu {
        display: block;
        background: none;
        color: white;
        width: 10vw;
        height: 10vw;
        font-weight: bold;
        font-size: 5vw;
    }

    .nav-links.open {
        display: flex;
    }
    
    .nav-dropdown .dropdown-menu{
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-dropdown.open .dropdown-menu {
        display: flex;
    }

    .nav-links a {
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    .dropdown-menu-nav > a {
        font-size: 2vw;
    }
}

@media (max-width: 600px) {
    .navcontent {
        display: none;
    }

    nav > picture > img {
        max-width: 225px;
        max-height: 100px;
    }

    .hamburger-menu {
        display: block;
        background: none;
        color: white;
        width: 20vw;
        height: 10vw;
        font-size: 8vw;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }
    
    .nav-dropdown .dropdown-menu{
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-dropdown.open .dropdown-menu {
        display: flex;
    }

    .nav-links a {
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    .dropdown-menu-nav > a {
        font-size: 2vw;
    }

    section {
        align-items: center;
        z-index: 0;
    }

    .sectionboxcontainer {
        max-width: 100vw;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
        gap: 4vw;
        justify-content: center;
    }

    .sectionbox {
        min-width: 40vw;
        min-height: 40vw;
    }

    section > h1 {
        font-size: 9vw;
        margin-left: 0px;
    }

    .welcometo > h3 {
        font-size: 4vw;
    }

    .headertextcontainer > h3:last-of-type {
        font-size: 4vw;
    }


    .dd1c {
        border-top: 1px solid white;
    }

    .dd1c, .dd2c, .dd3c, .dd4c {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        max-width: 93vw;
        border-bottom: 1px solid white;
    }

    .dd1c:hover, .dd2c:hover, .dd3c:hover, .dd4c:hover {
        cursor: pointer;
    }

    .dropdown {
        padding: 4vw 0px;
        background: transparent;
        text-align: start;
        font-weight: bold;
        font-size: 4vw;
        display: flex;
        min-width: 89vw;
    }

    .dropdownarrow {
        min-width: 25px;
        min-height: 25px;
        transition: transform 0.2s;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 5vw 0px;
        background-color: #B564F7;
        flex: 1 1 auto;
    }
    
    .footerlefthalf {
        margin-left: 3vw;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 11vw;
        font-size: 3vw;
        font-weight: bold;
        flex-direction: column;
    }
    
    .footerlefthalf > h2 > a {
        color: white;
        font-size: 3vw;
        text-underline-offset: 5px;
    }
    
    a:hover {
        filter: brightness(0.9);
    }
    
    .footerrighthalf > h2 {
        color: white;
    }
    
    .footersm {
        display: flex;
        width: 12vw;
        justify-content: space-evenly;
        gap: 1vw;
        margin-top: 3vw;
    }
    
    .footerrighthalf {
        margin-right: 3vw;
        align-items: center;
        text-align: end;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        width: 40vw;
        font-size: 3vw;
        font-weight: bold;
        gap: 3vw;
    }
    
    .fsmicon {
        max-width: 20px;
        max-height: 20px;   
    }

    .navdropdown:nth-of-type(2) {
        margin-bottom: 20px;
    }
    
    .dropdown-menu > a {
        font-size: 3vw;
    }

    

    @keyframes dropdownanimate {
        from {
            max-height: 0px;
        }

        to {
            max-height: 500vw;
        }
    }

    @keyframes dropdownanimaterev {
        from {
            min-height: 50vw;
        }

        to {
            min-height: 0px;
        }
    }

    
}