.navheaderbgworking {
    background-color: brown;
}

header {
    min-height: fit-content;
    padding-bottom: 0.5vw;
}

header > h1 {
    font-size: 7.5vw;
}

section {
    display: grid;
    grid-template-columns: 65vw 35vw;
    grid-template-rows: 13vw;
    min-height: fit-content;
    z-index: revert-layer;
}

.allyouneed {
    font-size: 3vw;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-right: 3vw;
    margin-left: 3vw;
    padding-bottom: 3vw;
    line-height: 4vw;
    max-height: fit-content;
}

section > .sectiontext > div:nth-child(1), 
section > .sectiontext > div:nth-child(2) {
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 1.05vw; 
}

section > .sectiontext > div:nth-child(1) {
    margin-top: 3vw;
    margin-bottom: 1vw;

}

.basics > h1 {
    font-size: 2.5vw;
    margin-left: 3vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.ddcdroptext {
    font-weight: 500;
}

ol.ddcdroptext {
    margin-left: 2vw;
}

.photodiv {
    width: 29vw;
    height: 30vw;
    margin-bottom: 5vw;
    margin-left: 2.5vw;
    background-color: blueviolet;
}

.youtubevideo {
    width: 30vw;
    height: 16vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    background-color: blueviolet;
}

.allyouneed {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.vidandphoto {
    grid-row: 2/3;
    grid-column: 2/3;
}

.sectiontext {
    grid-column: 1/2;
}

.dropdown {
    min-width: 57vw;
}

.dropdowns {
    min-height: fit-content;
    max-height: fit-content;
}

@media (max-width: 600px) {
    header > h1 {
        font-size: 15vw;
        margin-bottom: 10vw;
        margin-top: 10vw;
    }

    .allyouneed > i{
        font-size: 9vw;
    }

    section {
        grid-template-rows: 60vw 1fr 140vw ;
        grid-template-columns: 96vw;
    }

    .allyouneed {
        min-height: fit-content;
        line-height: 9vw;
        grid-row: 1/2;
    }

    .sectiontext {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .vidandphoto {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    section > .sectiontext > div:nth-child(1) {
        font-size: 5vw;
        margin-bottom: 3vw;
    }

    section > .sectiontext > div:nth-child(2) {
        font-size: 5vw;
    }

    .basics > h1 {
        font-size: 8vw;
        margin-bottom: 8vw;
    }

    .dropdown {
        min-width: 80vw;
    }

    .dd1c, .dd2c, .dd3c, .dd4c {
        padding: 4vw 0px;
    }
    
    ol.ddcdroptext {
        margin-left: 10vw;
    }

    .vidandphoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: start;
        margin-top: 5vw;
    }

    .youtubevideo {
        width: 85vw;
        height: 45vw;
        margin: 0px 5vw;
        margin-bottom: 5vw;
    }

    .photodiv {
        min-width: 80vw;
        min-height: 70vw;
        margin: 0px;
    }
}